body {
    background: white url("images/background.jpg") no-repeat;
    background-size: cover;
    color: ghostwhite;
}

.container {
    margin-top: 10vh;
    margin-left: 5%;
    width: 50%;
}

.container h1 {
}

.container ul {
    list-style: decimal;
    font-size: 24px;
}

.container ul li a {
    text-decoration: none;
    color: ghostwhite;
}
